.BCH-Title {
  font-family: VT323;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  /* identical to box height */

  color: #000000;
}

#popup {
  display: none;
  background-color: #f5f0e2;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  margin-top: 10%;
  padding: 10%;
  text-align: center;
}

.buy-button {
  margin: 10%;
  width: 30%;
  height: 35%;
  font-family: VT323;
  background: #038c4c;
  border-radius: 10px;
  font-size: 30px;
}

.sell-button {
  margin: 10%;
  width: 30%;
  height: 35%;
  font-family: VT323;
  background: #038c4c;
  border-radius: 10px;
  font-size: 30px;

  background: #f05050;
}

.current-price {
  width: "50%";

  font-family: VT323;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  /* identical to box height */

  color: #000000;
}

.average-price {
  font-family: VT323;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  /* identical to box height */

  color: #000000;
}
