.BCH-Title {
    position: absolute;
width: 261px;
height: 50px;
left: 600px;
top: 85px;

font-family: VT323;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 50px;
/* identical to box height */


color: #000000;
}

.buy-button {
    
position: absolute;
width: 260px;
height: 79px;
left: 361px;
top: 652px;

background: #038C4C;
border-radius: 10px;
}

.sell-button {
    position: absolute;
width: 260px;
height: 79px;
left: 836px;
top: 652px;

background: #F05050;
border-radius: 10px;
}

.current-price {
    position: absolute;
width: 281px;
height: 50px;
left: 493px;
top: 450px;

font-family: VT323;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 50px;
/* identical to box height */


color: #000000;
}

.average-price {
    position: absolute;
width: 381px;
height: 50px;
left: 493px;
top: 498px;

font-family: VT323;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 50px;
/* identical to box height */


color: #000000;
}