:root {
    --clr-green:#038C4C;
    --clr-grey:#C4C4C4;
    --clr-black:#000000;
    --radius: 0.5rem;
    --padding: 1rem;
  }
  
  body{
      background-color: #F5F0E2;
  }
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
      font-family:'VT323', serif;
      color:var(--clr-black);
  }

  .wrapper{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  .form-group1{
      padding-left: 60;
      padding-top: 100;
      margin:0 auto;
  }

  .form-group2{
      padding-left: 80;
      padding-top: 20px;
      margin: 0 auto;
  }

  .btn-primary{
    background:var(--clr-green);;
     padding: 0;
      margin-top:15;
      margin: 0 auto;
      width: 100px;
      cursor:pointer;
      transition:250ms all ease-in;
  }

  .s-button{
    background:var(--clr-green);
    border: 0;  
    outline:0;
    padding: 40 auto;
    font-family:'VT323',serif;
      font-weight:bold;
      font-size: 25;
      text-align: center;
      display:block;
      margin:0 auto;
      cursor:pointer;
  }

