<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "/static/bchpopup.css" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    </head>
    <body style="background-color:rgba(245, 240, 226, 1)";>
    <div class= "BCH-Title">
        <p>BeeCoin (BCH)</p>
    </div>
    <img class= "buy-button" img src="/static/Buy Button.svg">
    <img class= "sell-button" img src="/static/Sell Button.svg">

    <div class = "current-price">
        <p>Current Price:</p>
    </div>

    <div class = "average-price">
        <p>Your Average Price:</p>
    </div>
