<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="education.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    </head>
    <body style="background-color:bisque;">
        <h1>
            <img class="logo" src="static/Logo.svg" alt="logo">
        </h1>
        <div>
            <img src= "static/Bubble.svg" >
        </div>
        <div>
            <img src= "static/Bubble 2.svg" >
        </div>
        <div>
            <img src = "static/Bubble 3.svg" >
        </div>
        <div> 
            <img src = "static/Bubble 4.svg" >
        </div>
    </body>
</html>