<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "/static/education.css" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    </head>
    <body style="background-color:rgba(245, 240, 226, 1)";>
        <h1>
            <img class="logo" src="/static/Logo.svg" alt="logo">
        </h1>
        <img class="crypto" img src= "/static/Bubble.svg">
        <img class ="risk" img src= "/static/Bubble 2.svg">
        <img class ="differences" img src = "/static/Bubble 3.svg" >
        <img class ="benefits" img src = "/static/Bubble 4.svg" >

        <div class= "text1">
            <p>Cryptocurrency is a digital or virtual currency that is secured by cryptography, which makes it nearly impossible to counterfeit or double-spend.</p>
        </div>

        <div class= "market">
            <p>The currency trades only on demand. There is a finite amount of the currency which means that it can suffer from liquidity concerns and limited ownership may make it susceptible to market manipulation.</p>
        </div>
        <div class= "market-heading">
            <p>Market Risk</p>
        </div>

        <div class= "comp">
            <p>Some countries may prevent the use of the currency or may state that transactions break anti money laundering regulations, notwithstanding the global implications. </p>
        </div>
        <div class= "comp-heading">
        <p>Compliance Risk</p>
        </div>

        <div class= "cyber" >
            <p>Investors must rely upon the strength of their own computer security systems, as well as security systems provided by third parties, to protect purchased cryptocurrencies from theft.</p>
        </div>
        <div class= "cyber-heading">
            <p>Cyber/Fraud Risk</p>
        </div>

        <div class = "read">
            <p></p><a href="https://daily.financialexecutives.org/FEI-Daily/July-2018/5-Inherent-Risks-of-Cryptocurrency.aspx">Read More Here</a></p>
        </div>
        <div class= "btceth"> 
            <p>Bitcoin (BTC)   Ethereum (ETH)</p>
        </div>

        <div class= "bnbltc">
            <p>Binance Coin (BNB)   Litecoin (LTC)</p>
        </div>

        <img class="btc" img src= "/static/btc.svg">
        <img class="eth" img src= "/static/eth.svg">
        <img class="bnb" img src= "/static/bnb.svg">
        <img class="ltc" img src= "/static/ltc.svg">

        <div class= "anon">
            <p>Anonymity: The process of trading and transferring your digital assets is anonymous.</p>
        </div>
        <div class= "anon-heading">
            <p>Anonymity</p>
        </div>

        <div class= "access" >
            <p>Accessibility: There is no central authority governing the transactions, so cryptocurrency can be traded at any time of the day.</p>
        </div>
        <div class= "access-heading">
            <p>Accesibility</p>
        </div>
        
        <div class= "auto">
            <p>Autonomy: Complete control over your cryptocurrency funds, from how you choose to earn it, where you want to spend your digital money, and to whom you want to send it.</p>
        </div>
        <div class= "auto-heading">
            <p>Autonomy</p>
        </div>

        <div class="read2">
            <p><a href="https://www.nuwireinvestor.com/pros-cons-investing-cryptocurrency/">Read More Here</a></p>
        </div>
        <a href="game.html">
        <img class="game-folder" img src = "/static/Folder 2 1.svg">
        </a>


        <div class="play-game">
            <p>Play Game!</p>
        </div>
    </body>
</html>