<!DOCTYPE html>
<html>
    <head>
        <title>Game/Simulation</title>
        <link rel="stylesheet" href="game.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
    </head>
    <body>
        <h1>
            <img class="logo" src="/static/Logo.svg" alt="logo">
        </h1>
        <div>
            <img src="/static/pixil-frame-0 1.svg" alt="bee logo">BEE COIN
            <img src="/static/Acorn.svg" alt="acorn logo">
        </div>
        <div>
            <img src="/static/WalletWallet .svg" alt="wallet">
        </div>
        <div>
            <img src="/static/Sprout.svg" alt="tree sprout">
            <img src="/static/Small Tree.svg" alt="small tree">
            <img src="/static/Med Tree.svg" alt="medium tree">
            <img src="/static/Lemon treelemon tree.svg" alt="large tree">
        </div>
    </body>
</html>