<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
  <link rel="stylesheet" href="style.css">
  <style>
    body {
      font-family: 'VT323', serif;
      font-size: 30px;
    }
  </style>
</head>

<body>
  <img class="Window" src="/static/Window.svg" alt="Window">
  <div class="wrapper">
    <div class="form-group">
      <label for="Username" class="form-label">Username</label>
    </div>
    <div>
      <input type="text" class="form-input">
    </div>
    <div class="form-group">
      <label for="Email" class="form-label">Email</label>
      <input type="text" class="form-input">
    </div>
    <div>
    <button class="btn-primary">Submit</button>
  </div>

</body>

</html>