<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
  <link rel="stylesheet" href="/static/style.css">
  <style>
    body {
      position:absolute
      top: 200;
      left:200;
      font-family: 'VT323', serif;
      font-size: 30px;
      text-align:center;
    }
    .Logo{
      position: absolute;
      top:0;
      left:410;
    }
    .Window {
      position:absolute;
      top: 200;
      left:410;
      vertical-align:middle;
      z-index: -1;
    }
    .btn-primary{
      position:absolute
      top: 500;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <img class= "Logo" src= "/static/Logo.svg" alt= "Logo">
    <img class="Window" src="/static/Window.svg" alt="Window">
    <div class="form-group1">
      <label for="Username" class="form-label">Username:</label>
      <input type="text" class="form-input">
    </div>
    <div class="form-group2">
      <label for="Email" class="form-label">Email:</label>
      <input type="text" class="form-input">
    </div>
    <div class="btn-primary">
      <button class="s-button">Submit</button>
    </div>
  </div>

</body>
<body>
  <div class="Folder">
    <img class="Folder1" src="/static/Vector.svg" alt="Folder1">
  </div>
  <div class="Folder2">
    <img class="Folder2" src="/static/Folder 2 1.svg" alt="Folder2">
  </div>
</body>
</html>