#e30_455 { 
	overflow:hidden;
	opacity:1;
	width:477px;
	height:171px;
	position:absolute;
}
#e30_439 { 
	opacity:1;
	width:477px;
	height:65.62960052490234px;
	position:absolute;
	left:0px;
	top:0px;
}
#e30_435 { 
	background-color:rgba(2.000000118277967, 89.00000229477882, 48.000000938773155, 1);
	opacity:1;
	border:8px solid rgba(0, 0, 0, 1);
	width:477px;
	height:65.62960052490234px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e30_437 { 
	color:rgba(217.0000022649765, 209.00000274181366, 186.0000041127205, 1);
	opacity:1;
	width:148.00804138183594px;
	height:15.262700080871582px;
	position:absolute;
	left:81.28936767578125px;
	top:25.235992431640625px;
	font-family:VT323;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e30_436 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:462.42926025390625px;
	height:10.302321434020996px;
	position:absolute;
	left:7.668777942657471px;
	top:14.881125450134277px;
}
#e30_438 { 
	color:rgba(217.0000022649765, 209.00000274181366, 186.0000041127205, 1);
	opacity:1;
	width:77.45498657226562px;
	height:19.0783748626709px;
	position:absolute;
	left:269.17523193359375px;
	top:22.94659423828125px;
	font-family:VT323;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e30_445 { 
	opacity:1;
	width:477px;
	height:65.4893569946289px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:52.75532531738281px;
}
#e30_446 { 
	background-color:rgba(3.000000058673322, 140.00000685453415, 76.0000030696392, 1);
	opacity:1;
	border:8px solid rgba(0, 0, 0, 1);
	width:477px;
	height:65.4893569946289px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e30_447 { 
	color:rgba(217.0000022649765, 209.00000274181366, 186.0000041127205, 1);
	opacity:1;
	width:148.00804138183594px;
	height:15.230082511901855px;
	position:absolute;
	left:81.28936767578125px;
	top:25.1756591796875px;
	font-family:VT323;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e30_448 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:462.42926025390625px;
	height:10.280304908752441px;
	position:absolute;
	left:7.668777942657471px;
	top:14.849370002746582px;
}
#e30_449 { 
	color:rgba(217.0000022649765, 209.00000274181366, 186.0000041127205, 1);
	opacity:1;
	width:77.45498657226562px;
	height:19.0376033782959px;
	position:absolute;
	left:269.17523193359386px;
	top:22.891143798828125px;
	font-family:VT323;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e30_450 { 
	opacity:1;
	width:477px;
	height:65.4893569946289px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:105.51063537597656px;
}
#e30_451 { 
	background-color:rgba(217.0000022649765, 74.0000031888485, 61.00000016391277, 1);
	opacity:1;
	border:8px solid rgba(0, 0, 0, 1);
	width:477px;
	height:65.4893569946289px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
#e30_452 { 
	color:rgba(217.0000022649765, 209.00000274181366, 186.0000041127205, 1);
	opacity:1;
	width:148.00804138183594px;
	height:15.230082511901855px;
	position:absolute;
	left:81.28936767578125px;
	top:28.1756591796875px;
	font-family:VT323;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}
#e30_453 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:462.42926025390625px;
	height:10.280304908752441px;
	position:absolute;
	left:7.668777942657471px;
	top:14.849346160888672px;
}
#e30_454 { 
	color:rgba(217.0000022649765, 209.00000274181366, 186.0000041127205, 1);
	opacity:1;
	width:77.45498657226562px;
	height:19.0376033782959px;
	position:absolute;
	left:269.17523193359386px;
	top:25.891149520874023px;
	font-family:VT323;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
	line-height:undefined;
}